body {
  background-color: #282c34;
  color: #ffffff;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp8747461.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
