/* src/styles/AddStudentPage.css */

@media (max-width: 576px) {
    .card {
      padding: 2rem;
    }
  
    .form-control {
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
    }
  }
  