/* ChangeRoomPage.css */

.change-room-page {
    height: 100vh;
  }
  
  /* Card styles */
  .card {
    max-width: 500px;
    margin: auto;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 576px) {
    .card {
      padding: 1rem;
    }
  
    .form-group label {
      font-size: 0.875rem;
    }
  
    .form-control {
      font-size: 0.875rem;
    }
  
    .btn {
      font-size: 0.875rem;
    }
  }
  