/* DeleteStudentByIdForm.css */

.delete-student-page {
    height: 100vh;
  }
  
  /* Card styles */
  .card {
    max-width: 500px;
    margin: auto;
  }
  
  /* Button styles */
  .btn-lg {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 576px) {
    .card {
      padding: 1rem;
    }
  
    .btn-lg {
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
    }
  }
  