.update-meal-routine-page {
    background-color: #C0C0C0;
    padding: 20px;
    border-radius: 10px;
    background-image: none;
  }
  
  .day-section {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  @media (min-width: 576px) {
    .form-group {
      display: flex;
      align-items: center;
    }
  
    .form-group label {
      width: 100px;
      margin-right: 10px;
    }
  
    .form-group input {
      flex: 1;
    }
  }
  